{% extends 'main.html' %}

{% block content %}

    {% if favorite_city %}
        <div class="cityDecor">
            <h1>Weather Information for {{ favorite_city.name }}</h1>
            <h1>{{ favorite_city.country }}</h1>
            <p>Coordinates: {{ favorite_city.coordination_x }}, {{ favorite_city.coordination_y }} </p>
            <h2>Temperature: {{ temperature }} °C </h2>
            <h2>Wind: {{ wind }} KM/H </h2>
            <h2>Humidity: {{ humidity }} % </h2>
        </div>


    {% else %}
        <p>No favorite city is set. Please update the default city.</p>
    {% endif %}
 

{% endblock %}


