<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather_app</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilities_screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
  </head>
  <body>

    <header>
      {% include 'navbar.html' %}
    </header>

    <main class="mainDecor">
      {% block content %}


      {% endblock %}
    </main>

    <footer class="footerDecor">
      <p>&copy UAB The Weather app. 2025</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>    
  </body>
</html>