{% extends 'main.html' %}

{% block content %}

     <table class="tableDecor">
  <thead>
    <tr>
      <th>Country</th>
      <th>City name</th>
      <th>Coordinates (x)</th>
      <th>Coordinates (y)</th>
      <th>Temperature</th>
      <th>Wind</th>
      <th>Humidity</th>
      <th>Checking Time</th>
    </tr>
  </thead>
  <tbody>
    {% for city in city_weathers %}
    <tr>
      <td>{{ city.city.country }}</td>
      <td>{{ city.city.name }}</td>
      <td>{{ city.city.coordination_x }}</td>
      <td>{{ city.city.coordination_y }}</td>
      <td>{{ city.temperature }}</td>
      <td>{{ city.wind }}</td>
      <td>{{ city.humidity }}</td>
      <td>{{ city.time_stamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}